[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
picassocli = "*"
tabulate = "*"
dbpykitpw = {file = ".", editable = true}

[dev-packages]
picassocli = "*"
build = "*"
wheel = "*"

[requires]
python_version = "3.13"
